<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
			<rules>
                <rule name="AliziOrder" stopProcessing="true">
                    <match url="^id/([A-Za-z0-9-]*).html" />
                    <action type="Rewrite" url="index.php?m=Index&amp;a=order&amp;id={R:1}" />
                </rule>
                <rule name="AliziQuery" stopProcessing="true">
                    <match url="^query.html" />
                    <action type="Rewrite" url="index.php?m=Index&amp;a=query" />
                </rule>
                <rule name="AliziCategory" stopProcessing="true">
                    <match url="^category.html" />
                    <action type="Rewrite" url="index.php?m=Index&amp;a=category" />
                </rule>
                <rule name="AliziCategoryId" stopProcessing="true">
                    <match url="^category-([0-9]+).html" />
                    <action type="Rewrite" url="index.php?m=Index&amp;a=category&amp;id={R:1}" />
                </rule>
                <rule name="AliziArticle" stopProcessing="true">
                    <match url="^article.html" />
                    <action type="Rewrite" url="index.php?m=Index&amp;a=article" />
                </rule>
                <rule name="AliziArticleId" stopProcessing="true">
                    <match url="^article-([0-9]+).html" />
                    <action type="Rewrite" url="index.php?m=Index&amp;a=article&amp;id={R:1}" />
                </rule>
                <rule name="AliziDetailId" stopProcessing="true">
                    <match url="^detail-([0-9]+).html" />
                    <action type="Rewrite" url="index.php?m=Index&amp;a=detail&amp;id={R:1}" />
                </rule>
                <rule name="AliziOrderSingle" stopProcessing="true">
                    <match url="^single/(\w+).html" />
                    <action type="Rewrite" url="index.php?m=Order&amp;a=index&amp;id={R:1}" />
                </rule>
                <rule name="AliziOrderSingleId" stopProcessing="true">
                    <match url="^single/(\w+)-([0-9]+).html" />
                    <action type="Rewrite" url="index.php?m=Order&amp;a=index&amp;id={R:1}&amp;uid={R:2}" />
                </rule>
                <rule name="AliziOrderDetail" stopProcessing="true">
                    <match url="^detail/(\w+).html" />
                    <action type="Rewrite" url="index.php?m=Order&amp;a=index&amp;id={R:1}&amp;tpl=detail" />
                </rule>
                <rule name="AliziOrderDetailId" stopProcessing="true">
                    <match url="^detail/(\w+)-([0-9]+).html" />
                    <action type="Rewrite" url="index.php?m=Order&amp;a=index&amp;id={R:1}&amp;uid={R:2}&amp;tpl=detail" />
                </rule>
                <rule name="AliziResult" stopProcessing="true">
                    <match url="^result/([0-9]+).html" />
                    <action type="Rewrite" url="index.php?m=Index&amp;a=result&amp;order_no={R:1}" />
                </rule>
                <rule name="AliziPay" stopProcessing="true">
                    <match url="^pay-([0-9]+).html" />
                    <action type="Rewrite" url="index.php?m=Index&amp;a=pay&amp;order_no={R:1}" />
                </rule>
                <rule name="AliziOrderSingleRand" stopProcessing="true">
                    <match url="^single/(\w+)/(\w+)/(\w+).html" />
                    <action type="Rewrite" url="index.php?m=Order&amp;a=index&amp;id={R:1}" />
                </rule>
                <rule name="AliziOrderSingleIdRand" stopProcessing="true">
                    <match url="^single/(\w+)-([0-9]+).html" />
                    <action type="Rewrite" url="index.php?m=Order&amp;a=index&amp;id={R:1}&amp;uid={R:2}" />
                </rule>
                <rule name="AliziOrderDetailRand" stopProcessing="true">
                    <match url="^detail/(\w+)-([0-9]+).html" />
                    <action type="Rewrite" url="index.php?m=Order&amp;a=detail&amp;id={R:1}" />
                </rule>
                <rule name="AliziOrderDetailIdRand" stopProcessing="true">
                    <match url="^detail/(\w+)-([0-9]+).html" />
                    <action type="Rewrite" url="index.php?m=Order&amp;a=detail&amp;id={R:1}&amp;uid={R:2}" />
                </rule>
                <rule name="Alizi" stopProcessing="true">
                    <match url="^(.*).html" />
                    <action type="Rewrite" url="index.php\/{R:1}" />
                </rule>
			</rules>	
        </rewrite>
    </system.webServer>
</configuration>